header {
    background-image: url(./resources/pink.jpg);
    background-size: 100%;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

nav {
    background-color: #ff8ea1;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #333;
}

.center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
}
.table{
        margin: 0 auto;
        border-collapse: collapse;
        border-style: solid;
        border-color: #ff8ea1;
}
body{
        background-image: url(resources /background.jpg);
        background-attachment: fixed;
        background-size: 100% 100%;
        font-family: 'Trebuchet MS', serif;
}

main{
    text-align: center;
    margin: 0 15%;
}

footer {
    background-color: #ff8ea1;
    padding: 1.5px;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}
